#dice-para {
    font-size: 50px;
    border: 10px;
    height: 30px;
}

#sum-para {
    padding-top: 10px;
}

div {
    border: 5px;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
    height: auto;
    padding: 25px;
}

li {
    padding-bottom: 0 10px;
}

button {
    margin-bottom: 20px;
}